body{
    background-color: #0F0F0F;
    color: white;
  }
  #container{
    width: 65%;
    margin: 10vh auto;
  }
  label{
    color: #E06C3B;
    font-size: 8vw;
    margin-left: 12vw;
  }
  button{
    margin-top: 10vh;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid blak;
    cursor: pointer;
  }
  #lap{
    background-color: #353535;
    outline: 1px solid #353535;
    color: white;
  }
  #start{
    float: right;
    color: green;
    background-color: #4dff4d;
    outline: 1px solid #4dff4d;
  }
  .timing{
    float: right;
  }